<a href="https://colab.research.google.com/github/Dexter12345933992390234/Group-6-Project-214562-/blob/main/Group_6%2CPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuples:Tuples are used to store multiple items in a single variable. Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage. A tuple is a collection which is ordered and unchangeable.

In [ ]:
# Accessing tuple elements using indexing
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])   # 'p' 
print(my_tuple[5])   # 't'

# Inde4xError: list index out of range
# print(my_tuple[6])

# Index must be an integer
# TypeError: list indices must be integers, not float
# my_tuple[2.0]

# nested tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
print(n_tuple[0][3])       # 's'
print(n_tuple[1][1])       # 4

p
t
s
4

In [ ]:
# Negative indexing for accessing tuple elements
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')

# Output: 't'
print(my_tuple[-1])

# Output: 'p'
print(my_tuple[-6])

t
p

In [ ]:
# Accessing tuple elements using slicing
my_tuple = ('p','r','o','g','r','a','m','i','z')

# elements 2nd to 4th
# Output: ('r', 'o', 'g')
print(my_tuple[1:4])

# elements beginning to 2nd
# Output: ('p', 'r')
print(my_tuple[:-7])

# elements 8th to end
# Output: ('i', 'z')
print(my_tuple[7:])

# elements beginning to end
# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple[:])

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [ ]:
# Membership test in tuple
my_tuple = ('a', 'p', 'p', 'l', 'e',)

# In operation
print('a' in my_tuple)
print('p' in my_tuple)

# Not in operation
print('a' not in my_tuple)

True
True
False

Range:The range() is an in-built function in Python. It returns a sequence of numbers starting from zero and increment by 1 by default and stops before the given number. Now that we know the definition of range, let's see the syntax: range(start, stop, step)

In [ ]:
# empty range
print(list(range(0)))

# using range(stop)
print(list(range(10)))

# using range(start, stop)
print(list(range(1, 10)))

[]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Numbers from 10 to 15
# start = 10
# stop = 50
# step = 5
for i in range(10, 50, 5):
    print(i, end=' ')

# Output 10 15 20 25 30 35 40 45

10 15 20 25 30 35 40 45

In [ ]:
# reverse range using negative step
# start = 5
# stop = -1
# step = -1
for i in range(5, -1, -1):
    print(i)

5
4
3
2
1
0

In [ ]:
# Decrement range() using step
# start = 30, stop = 20
# step = -2
for i in range(30, 20, -2):
    print(i, end=' ')

30 28 26 24 22

**Set**:A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

In [ ]:
# empty set
print(set())

# from string
print(set('Python'))

# from tuple
print(set(('J', 'A', 'M', 'M', 'I')))

# from list
print(set(['a', 'e', 'i', 'o', 'u']))

# from range
print(set(range(5)))

set()
{'n', 'P', 'o', 't', 'y', 'h'}
{'A', 'J', 'M', 'I'}
{'a', 'e', 'o', 'i', 'u'}
{0, 1, 2, 3, 4}

In [ ]:
first_set = {1, 2, 3, 4, 5, 6}
second_set = {4, 5, 6, 7, 8, 9}
first_set.difference(second_set)
{1, 2, 3}

first_set - second_set     # using the `-` operator
{1, 2, 3}

second_set - first_set
{8, 9, 7}

{7, 8, 9}

In [ ]:
Days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}    
print(Days)    
print(type(Days))    
print("looping through the set elements ... ")    
for i in Days:    
    print(i)

{'Sunday', 'Thursday', 'Saturday', 'Friday', 'Monday', 'Tuesday', 'Wednesday'}
<class 'set'>
looping through the set elements ...
Sunday
Thursday
Saturday
Friday
Monday
Tuesday
Wednesday